<h1>Ser bronn of the Black water</h1>
<%= link_to image_tag('Ser Bronn the man.jpg'), 'https://ruby-on-rails-sadiqqyy.c9users.io/pages/about'%>
<h2>You wouldn't find me fighting in an army if I had no cock.
What's left to fight for?</h2>

<p> Ser Bronn of the Blackwater was knighted after his excellent contribution during the battle at blackwater bay and the seige of King's Landing. The seige was led by Stannis Baratheon who claimed to be the rightful heir to the 7 kingdoms after his older brother Robert Baratheon passed away.</p>
<%= link_to "Home", root_path %>