<h1>Sadiq Abdulai</h1>
<%= link_to image_tag('RoR.jpg'), 'https://ruby-on-rails-sadiqqyy.c9users.io/pages/about'%>
<h2>This web app is my senior project and will be submitted to Professor R. Gann.</h2>

<p> 
    Hello, Sadiq here,
    <ul>
        <li> I created this web app using Ruby on Rails.</li>
        <li> It is currently being deployed as a Heroku web application deployment model. </li>
        <li> In other words, I'm hosting it on <a href="https://www.heroku.com/"> Heroku. </li>
        <li> Feel free to make an account. </li>
       
    </ul>
</p>
<%= link_to "Home", root_path %>