<h1> This site is dedicated to Ser Bronn of the Blackwater bay</h1>
<%= image_tag 'Ser Bronn.jpg' %>
<h2> We shall discuss the following:</h2>
<ul>
    <li>Quoutes from Ser Bronn.</li>
    <li>His strengths.</li>
    <li>His weaknesses</li>
</ul>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>